<!DOCTYPE html>
<head>
   <title>Employee Modification</title>
   <link rel="stylesheet" href="/css/managerStyle.css">
</head>
<body>
  <div class = "managerNavBarContainer">
    <div id = "left">
       <div>
          <a href = "..\manager\managerHome"> <img height = "55px" src="/img/skipBack.png">Back</a>
       </div>
       <div>
          <a href = "/logout"> <img height = "55px" src="/img/logInOrOut.png">Logout</a>
       </div>
    </div>

    <div id = "right">
       <div>
          <!--    this is the start of google translate code-->
          <div id="google_translate_element"></div>
          <script type="text/javascript">
             function googleTranslateElementInit() {
                new google.translate.TranslateElement({pageLanguage: 'en', includedLanguages: 'zh-CN,pt,ru,es,fil'}, 'google_translate_element');
             }
          </script>
          <script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
          <!--    this is the end of google translate code-->
       </div>
    </div>
 </div>


   <div class="employee-mod-page">
      <h2 class="employee-add-title">Add New Employee</h2>

<div class="employee-add-card">
  <form action="/manager/insertEmployee" method="POST" class="employee-add-form">

    <div class="employee-form-group">
      <label>First Name</label>
      <input type="text" name="first" required>
    </div>

    <div class="employee-form-group">
      <label>Last Name</label>
      <input type="text" name="last" required>
    </div>

    <div class="employee-form-group">
      <label>Email</label>
      <input type="email" name="email" required>
    </div>

    <div class="employee-form-group">
      <label>Employee ID</label>
      <input type="number" name="id" required>
    </div>

    <button type="submit" class="employee-add-btn">Add Employee</button>

  </form>
</div>
      <h1>Employees</h1>

      <div class="employee-grid">
        <% for (var i in employees) { %>
      
          <div class="employee-card">
      
            <div class="employee-info">
              <p class="employee-name">
                <%= employees[i].first_name %> <%= employees[i].last_name %>
              </p>
              <p class="employee-id">
                ID: <%= employees[i].employee_id %>
              </p>
              <p class="employee-email">
                <%= employees[i].email %>
              </p>
            </div>
      
            <div class="employee-actions">
      
              <!-- EDIT EMAIL -->
              <form action="/manager/updateEmployee" method="POST">
                <input type="hidden" name="id" value="<%= employees[i].employee_id %>">
                <input 
                  type="email"
                  name="email"
                  placeholder="new email"
                  required
                  class="employee-input"
                >
                <button type="submit" class="employee-edit-btn">Edit</button>
              </form>
      
              <!-- DELETE EMPLOYEE -->
              <form action="/manager/removeEmployee" method="POST">
                <input type="hidden" name="id" value="<%= employees[i].employee_id %>">
                <button type="submit" class="employee-delete-btn">X</button>
              </form>
      
            </div>
      
          </div>
      
        <% } %>
      </div>
   </div>
</body>