<!DOCTYPE html>
<head>
   <title>Employee Modification</title>
</head>
<body>
   <!--    this is the start of google translate code-->
   <div id="google_translate_element"></div>
   <script type="text/javascript">
      function googleTranslateElementInit() {
         new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
      }
   </script>
   <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
   <!--    this is the end of google translate code-->

   <a href = "managerHome">Back</a>
   <a href = "/logout"> Logout </a>
   <h1> Employees </h1>

   <% for (var i in employees) {%>
       <p>Employee: <%=employees[i].first_name%> <%=employees[i].last_name%>, id: <%=employees[i].employee_id%>%><p>
   <% } %>

   <br>

   <form action="/manager/removeEmployee" method="POST">
      <label>Employee ID:</label>
      <select name="id">
         <% for (var i in employees) { %>
            <option value="<%=employees[i].employee_id%>"><%=employees[i].employee_id%> - <%=employees[i].first_name%> <%=employees[i].last_name%></option>
         <% } %>
      </select>
      <button type="submit">Delete Employee</button>
   </form>

   <br>

   <form action="/manager/updateEmployee" method="POST">
      <label>Employee ID:</label>
      <select name="id">
         <% for (var i in employees) { %>
         <option value="<%=employees[i].employee_id%>"><%=employees[i].employee_id%> - <%=employees[i].first_name%> <%=employees[i].last_name%></option>
         <% } %>
      </select>
        <input type="email" name="email" placeholder="employee@example.com">
        <button type="submit">Update Employee Email</button>
   </form>

   <br>
   <form action="/manager/insertEmployee" method="POST">
      <input type="text" name="first" placeholder="First Name">
      <input type="text" name="last" placeholder="Last Name">
      <input type="email" name="email" placeholder="employee@example.com">
      <input type="number" name="id" placeholder="ID">
      <button type="submit">Insert Employee</button>
    </form>
    
</body>