

<head>
  <link rel="stylesheet" href="/css/customerStyle.css">
</head>

<body class="modifyOrder">

    <div class="modNav">
    <a href="/customer/customerHome" class="modBack">Back</a>

    <div><p><button onclick = "toggleFont()" class = "toggleFont" >toggle font size - Aa</button></p></div>

    <div class="rightItem">
    <button id="colorblindToggle" class="toggleFont">
        Colorblind Mode
    </button>
    </div>

    <!--    this is the start of google translate code-->
    <div id="google_translate_element"></div>
    <script type="text/javascript">
        function googleTranslateElementInit() {
        new google.translate.TranslateElement({pageLanguage: 'en', includedLanguages: 'zh-CN,pt,ru,es,fil'}, 'google_translate_element');
        }
    </script>
    <script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <!--    this is the end of google translate code-->
    </div>

    <h1>Modify: <%= drink.name %></h1>
    <p>Base Price: $<%= Number(drink.base_price ?? drink.price).toFixed(2) %></p>
    <h1>Customize: <%= drink.name %> - $<%= Number(drink.base_price ?? drink.price).toFixed(2) %></h1>

    <form method="POST" action="/customer/cart/add">

        <!-- Hidden values sent to server -->
        <input type="hidden" name="beverageInfoId" value="<%= drink.id ?? drink.beverage_info_id %>" />
        <input type="hidden" name="name" value="<%= drink.name %>" />
        <input type="hidden" name="price" value="<%= Number(drink.base_price ?? drink.price) %>" />

        <input type="hidden" id="sizeField" name="size" value="<%= defaults.size %>" />
        <input type="hidden" id="iceField" name="iceLevel" value="<%= defaults.iceLevel %>" />
        <input type="hidden" id="sweetField" name="sweetnessLevel" value="<%= defaults.sugarLevel %>" />
        <input type="hidden" id="toppingField" name="topping" value="" />
        <input type="hidden" id="actionField" name="action" value="<%= defaults.action %>" />

        <!-- Quantity -->
        <h3>Quantity</h3>
        <input type="number" min="1" name="quantity" value="<%= defaults.quantity %>" />

    <!--    list of toppings added-->
    <!--    new price of item being modified-->

        <!-- Size -->
        <h3>Size</h3>
        <div id="sizeGroup">
        <% ['small','regular','large'].forEach(function(size){ %>
            <button class="drinkMod" type="button" data-size="<%= size %>"><%= size %></button>
        <% }) %>
        </div>

        <!-- Ice Level -->
        <h3>Ice Level</h3>
        <div id="iceGroup">
        <% (iceLevels && iceLevels.length ? iceLevels : ['no ice','light ice','regular','extra ice']).forEach(function(i){ %>
            <button class="drinkMod" type="button" data-ice="<%= i %>"><%= i %></button>
        <% }) %>
        </div>

        <!-- Sweetness -->
        <h3>Sweetness</h3>
        <div id="sweetGroup">
        <% (sugarLevels && sugarLevels.length ? sugarLevels : ['0%','30%','50%','80%','100%','120%']).forEach(function(s){ %>
            <button class="drinkMod" type="button" data-sweet="<%= s %>"><%= s %></button>
        <% }) %>
        </div>

        <!-- Toppings -->
        <h3>Topping (optional)</h3>
        <div id="toppingGroup">
        <% (toppings || []).forEach(function(t){ %>
            <button class="drinkMod" type="button" data-topping="<%= t.topping_name || t.name %>">
            <%= t.topping_name || t.name %>
            </button>
        <% }) %>
        </div>

        <!-- Action -->
        

        <br>
        <button class="drinkMod" type="submit">Add to Cart</button>
        <br>

    </form>

        <div class = "speechToTextContainer">
            <img id = "assistantImg" src = "">
            <button class = "speechButton" id = "speechBtn"> Speech Command Assistant</button>
        </div>
</body>