<!DOCTYPE html>
<head>
    <title>Menu with Assistant</title>
    <link rel="stylesheet" href="/css/customerStyle.css">
</head>
<body>


<!--    this is the start of google translate code-->
<div id="google_translate_element"></div>
<script type="text/javascript">
    function googleTranslateElementInit() {
        new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
    }
</script>
<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
<!--    this is the end of google translate code-->


<!---------------   NAV BAR    --------------->
<div id = "homeHeader">
    <div id = "homeNavBarLeft">
        <a href = "/index"><img src= "/img/home.png" alt = "Home Button">Home</a>
        <a href = "/menu"><img src = "/img/drink.png">Menu</a>
    </div>

    <h1><u>Menu</u></h1>

    <div id = "loginContainer">
        <a href="/auth/google">
            Admin Login
            <img src = "/img/login.png" alt = "admin login">
        </a>
    </div>  
    </div>


<div id = "menuAndSpeechContainer">

    <!---------------   MENU    --------------->
    <div id = "menuAsstContainer">
        <div id = "milkySeriesContainer" class = "drinkMenuContainer">
            <h1><u>MILKY SERIES</u></h1>
            <% for (var i in milky_drinks) {%>
                <p><%=milky_drinks[i].name%>..........<%=milky_drinks[i].price%><p>
            <% } %>
        </div>

        <div id = "fruitBevContainer" class = "drinkMenuContainer">
            <h1><u>FRUITY BEVERAGES</u></h1>
            <% for (var i in fruity_drinks) {%>
                <p><%=fruity_drinks[i].name%>..........<%=fruity_drinks[i].price%><p>
            <% } %>
        </div>

        <div id = "freshBrewContainer" class = "drinkMenuContainer">
            <h1><u>FRESH BREW</u></h1>
            <% for (var i in freshBrew_drinks) {%>
                <p><%=freshBrew_drinks[i].name%>..........<%=freshBrew_drinks[i].price%><p>
            <% } %>
        </div>

        <div id = "iceBlendContainer" class = "drinkMenuContainer">
            <h1><u>ICE BLENDED</u></h1>
            <% for (var i in iceBlended_drinks) {%>
                <p><%=iceBlended_drinks[i].name%>..........<%=iceBlended_drinks[i].price%><p>
            <% } %>
        </div>

        <div id = "drinkModificationsContainer">
            <h1><u>CHOOSE (OPTIONAL)</u></h1>
            <p><b>ICE LEVEL</b> &nbsp; No Ice &bull; Light Ice   &bull;  Regular Ice  &bull; Extra Ice</p>
            <p><b>SWEETNESS LEVEL</b> &nbsp; 0%     &bull; 30%   &bull;  50%    &bull;  80%     &bull;  100%    &bull;  120%</p>
            <p><b>TOPPINGS +0.75</b> &nbsp; Tapioca Pearl &bull; Lychee Jelly   &bull;  Coffee Jelly    &bull;  Ice Cream
                                    &bull;  Honey   &bull;  Passion Fruit</p>
            <p><b>SIZE</b> &nbsp; Small &bull; Medium   &bull;  Large</p>    
        </div>
    </div>

    <!---------------   SPEECH    --------------->
    <div class = "orderSpeechContainer">
        <div id = "chatBox">
            <div id = "getStartedMessage" ><p>
                                                    Great! To place an order, just press the "start recording"
                                                    button, say your order, and then press "end recording". I will then 
                                                    show you your order, and all you have to do is confirm it!
            </p>
                <button id="startButton">Start Recording</button>
                <button id="endButton" disabled>Stop Recording</button>
                <button id="playButton" disabled>Play Recording</button>

                <audio id="audioPlayback" controls></audio>
            </div>
            <img id = "assistantImgMenu" src = "">
            
        </div>

    </div>

</div>



    <script src = "/js/customerHandler.js"></script> 
    <script src = "/js/googleTranslateHandler.js"></script> 
    <script src = "/js/voiceAgentHandler.js"></script>

    <footer>
        <div class = "footer">

        </div>
    </footer>



</body>