<!DOCTYPE html>
<head>
   <title>Ordering Trends Page</title>
</head>
<body>
    <a href = "analyticsOptions">Back</a>
    <h1>Ordering Trends</h1>

    <p>Peak Sales Week: <strong><%= peakWeek.week %></strong></p>

    <p>Peak Sales Hour: <strong><%= peakHour.hour %></strong></p>
    
    <canvas id="barChart"></canvas>

    <!-- <script>
            const ctx = document.getElementById('barChart').getContext('2d');
            const currChart = new Chart(ctx, {
                type: 'bar',
                // data: {
                //     labels: <%- JSON.stringify(labels) %>,
                    // datasets: [{
                    //     label: '<%= legend %>',
                    //     data: <%- JSON.stringify(data) %>,
                    //     backgroundColor: [
                    //         'rgba(255, 99, 132, 0.6)',
                    //         'rgba(54, 162, 235, 0.6)',
                    //         'rgba(255, 206, 86, 0.6)'
                    //     ],
                    //     borderColor: [
                    //         'rgba(255, 99, 132, 1)',
                    //         'rgba(54, 162, 235, 1)',
                    //         'rgba(255, 206, 86, 1)'
                    //     ],
                    //     borderWidth: 1
                    // }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
        </script> -->
</body>