<!DOCTYPE html>
<head>
   <title>Z Report Page</title>
</head>
<body>
    <a href = "analyticsOptions">Back</a>
    <a href = "/logout"> Logout </a>
    <h1>Z-Report</h1>

    <p>Current Date: <strong><%= zReportData[0].last_z_report %></strong></p>

    <form action="/manager/generateZReport" method="post">
        <button type="submit">Generate Z-Report</button>
   </form>

    <p>Daily Sales: <strong><%= zReportData[0].daily_sales %></strong></p>

    <p>Daily Tax: <strong><%= zReportData[0].daily_tax %></strong></p>

    <p>New Customers: <strong><%= zReportData[0].new_customers %></strong></p>

    <p>Daily Customer Total: <strong><%= zReportData[0].customer_total %></strong></p>

    <p>Daily Orders Total: <strong><%= zReportData[0].order_total %></strong></p>
</body>