<!DOCTYPE html>
<head>
   <title>Z Report Page</title>
</head>
<body>
    <!--    this is the start of google translate code-->
    <div id="google_translate_element"></div>
    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
        }
    </script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <!--    this is the end of google translate code-->

    <a href = "analyticsOptions">Back</a>
    <a href = "/logout"> Logout </a>
    <h1>Z-Report</h1>

    <p>Current Date: <strong><%= zReportData[0].last_z_report %></strong></p>

    <form action="/manager/generateZReport" method="post">
        <button type="submit">Generate Z-Report</button>
   </form>

    <p>Daily Sales: <strong><%= zReportData[0].daily_sales %></strong></p>

    <p>Daily Tax: <strong><%= zReportData[0].daily_tax %></strong></p>

    <p>New Customers: <strong><%= zReportData[0].new_customers %></strong></p>

    <p>Daily Customer Total: <strong><%= zReportData[0].customer_total %></strong></p>

    <p>Daily Orders Total: <strong><%= zReportData[0].order_total %></strong></p>
</body>