<!DOCTYPE html>
<head>
    <title>Item Modification</title>
</head>

<body>
    <!--    this is the start of google translate code-->
    <div id="google_translate_element"></div>
    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
        }
    </script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <!--    this is the end of google translate code-->

    <a href = "managerHome">Back</a>
    <a href = "/logout"> Logout </a>
    <h1>Item Modification</h1>
    <p><strong>ID:</strong> <%= item.beverage_info_id %></p>
    <p><strong>Name:</strong> <%= item.name %></p>
    <p><strong>Price:</strong> <%= item.price %></p>

    <div>
        <% for (var i in bev_items) { %>
        <p><%= bev_items[i].inventory_name, bev_items[i].quantity, bev_items[i].unit %></p>
        <% } %>
    </div>

    <div>
<!--        form for now, buttons will be added later to improve UX-->
        <form action="/manager/addToMenuItem" method="POST">
            <input type="hidden" name="id" value="<%= item.beverage_info_id %>">

            <label>Inventory Id:</label>
            <input type="number" id="inventory_id" name = "inv_id" required>
            <label>Quantity:</label>
            <input type="number" id="quantity" name = "qt" required>

            <label>Unit:</label>
            <select id="unit" name = "unit" required>
                <option value="grams">grams</option>
                <option value="ml">ml</option>
                <option value="pieces">pieces</option>
                <option value="oz">oz</option>
            </select>

            <button type="submit">Add to Item</button>
        </form>

        <form action="/manager/removeFromMenuItem" method="POST">
            <input type="hidden" name="id" value="<%= item.beverage_info_id %>">

            <label>Inventory ID:</label>
            <input type="number" id="inventory_id" name = "inv_id" required>
            <button type="submit">Remove from Item</button>
        </form>
    </div>

    <a href="/manager/menuModification"> DONE </a>
</body>