<!DOCTYPE html>
<head>
   <link rel="stylesheet" href="/css/customerStyle.css">
   <title>Customer Home</title>
</head>
<body>
          
<div class = "customerNavBarContainer">
   <div id = "left">
        <div>
            <a href = "../index">
                <img src = "/img/skipBack.png">
                Back</a>
        </div>

        <div>
            <a href = "orderSummary" >
                <img src = "/img/shoppingCart.png">
                Cart</a>
        </div>
    </div>

    <div id = "right">
      <div class = "rightItem">
               <!--    this is the start of google translate code-->
               <button id = "translateButton" class = "translateButtonStyling">
                  <img src = "/img/globe.png">
               </button>
               <div id="google_translate_element" style="display: none;""></div>
               <script type="text/javascript">
                  function googleTranslateElementInit() {
                     new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
                  }
               </script>
               <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
               <!--    this is the end of google translate code-->
      </div>
      <div class = "rightItem">
         <%- include('../partials/weatherNav', { weather: weather }) %>
      </div>

    </div>
</div>

   <div class = "drinkNavBar">
      <div id = "titleContainer">
         <h1>Make an Order</h1> 
      </div>

      <div id = "drinkContainer">
         <div class = "allDropDown">
            <button id = "all" class = "drinkCategoryButton">All</button>
            <div class="dropdown-content">
                  <% for (let drink of all_drinks) { 
                        const img_url = img_array[drink.beverage_info_id] ?? img_array[0]; 
                     %>

                     <div class = "drinkCard">
                        <button class = "drinkButton" 
                              data-drink-id = "<%= drink.beverage_info_id %>" 
                              data-drink-name = "<%= drink.name %>" 
                              data-drink-price="<%= drink.price%>" >
                              <img src="<%= img_url %>">
                        </button>
                     
                        <div class = "drinkTextContainer"><p><%= drink.name %>, Price: <%= drink.price %></p></div>
                     </div>
                     
                  <% } %>
            </div>
         </div>

         <div class = "freshBrewDropDown">
            <button id = "freshBrew" class = "drinkCategoryButton">Fresh Brew Tea</button>
            <div class="dropdown-content">
                  <% for (let drink of freshBrew_drinks) { 
                     const img_url = img_array[drink.beverage_info_id] ?? img_array[0]; 
                  %>
                     <div class = "drinkCard">
                        <button class = "drinkButton" 
                              data-drink-id = "<%= drink.beverage_info_id %>" 
                              data-drink-name = "<%= drink.name %>" 
                              data-drink-price="<%= drink.price%>" >
                              <img src="<%= img_url %>">
                        </button>
                     
                        <div class = "drinkTextContainer"><p><%= drink.name %>, Price: <%= drink.price %></p></div>
                     </div>
               <% } %>
            </div>
         </div>

         <div class = "fruitTeaDropDown">
            <button id = "fruitTea" class = "drinkCategoryButton">Fruit Tea</button>
            <div class="dropdown-content">
                  <% for (let drink of fruity_drinks) { 
                        const img_url = img_array[drink.beverage_info_id] ?? img_array[0]; 
                     %>
                     <div class = "drinkCard">
                        <button class = "drinkButton" 
                              data-drink-id = "<%= drink.beverage_info_id %>" 
                              data-drink-name = "<%= drink.name %>" 
                              data-drink-price="<%= drink.price%>" >
                              <img src="<%= img_url %>">
                        </button>
                     
                        <div class = "drinkTextContainer"><p><%= drink.name %>, Price: <%= drink.price %></p></div>
                     </div>
                  <% } %>
            </div>
         </div>

         <div class = "iceBlendDropDown">
            <button id = "iceBlended" class = "drinkCategoryButton">Ice Blended</button>
            <div class="dropdown-content">
                  <% for (let drink of iceBlended_drinks) { 
                        const img_url = img_array[drink.beverage_info_id] ?? img_array[0]; 
                     %>

                     <div class = "drinkCard">
                        <button class = "drinkButton" 
                              data-drink-id = "<%= drink.beverage_info_id %>" 
                              data-drink-name = "<%= drink.name %>" 
                              data-drink-price="<%= drink.price%>" >
                              <img src="<%= img_url %>">
                        </button>
                     
                        <div class = "drinkTextContainer"><p><%= drink.name %>, Price: <%= drink.price %></p></div>
                     </div>

                  <% } %>
            </div>
         </div>

         <div class = "milkTeaDropDown">
            <button id = "milkTea" class = "drinkCategoryButton">Milk Tea</button>
            <div class="dropdown-content">
                  <% for (let drink of milky_drinks) { 
                     const img_url = img_array[drink.beverage_info_id] ?? img_array[0]; 
                     %>
                     <div class = "drinkCard">
                        <button class = "drinkButton" 
                              data-drink-id = "<%= drink.beverage_info_id %>" 
                              data-drink-name = "<%= drink.name %>" 
                              data-drink-price="<%= drink.price%>" >
                              <img src="<%= img_url %>">
                        </button>
                     
                        <div class = "drinkTextContainer"><p><%= drink.name %>, Price: <%= drink.price %></p></div>
                     </div>
                  <% } %>
            </div>
         </div>

         <div class = "searchDropDown">
            <button id = "search" class = "drinkCategoryButton"><img src="/img/search.png"></button>
            <div class = "dropdown-content">
                <h3>Search for items with:</h3>
                <br>
                <div class = "optionDisplay" id="optionDisplay">
                    <p>nothing is selected</p><br>
                </div>
                <br>

                <select id="ingredientSelect">
                    <option value="" disabled selected>Select an ingredient</option>
                    <% for (let ingredient of inventory) { %>
                        <option value="<%= ingredient.inventory_id %>"><%= ingredient.name %></option>
                    <% } %>
                </select>

                <br>

                <form id="searchDrinksForm" action="/customer/search" method="post">
                    <input type="hidden" id="selectedIngredients" name="selectedIngredients" value="">
                    <button id="searchDrinksButton" type="button">search</button>
                    <br>
                </form>
                <br>

                <div id = "searchResults">
                    <%for (drink of filtered_drinks) {
                        const img_url = img_array[drink.beverage_info_id] ?? img_array[0];
                    %>
                    <div class = "drinkCard">
                        <button class = "drinkButton"
                                data-drink-id = "<%= drink.beverage_info_id %>"
                                data-drink-name = "<%= drink.name %>"
                                data-drink-price="<%= drink.price%>" >
                            <img src="<%= img_url %>">
                        </button>

                        <div class = "drinkTextContainer"><p><%= drink.name %>, Price: <%= drink.price %></p></div>
                    </div>
                    <%}%>
                </div>
            </div>
         </div>

      </div>
   </div>
   <footer></footer>
    <script src = "/js/customerHandler.js"></script>
    <script src = "/js/googleTranslateHandler.js"></script>
    <script src = "/js/selectHandler.js"></script>
</body>

<!--
    - Add Search Bar
    - Add Nav Bar
    - Add Buttons -- maybe reusable ones
-->

