<!DOCTYPE html>
<head>
   <link rel="stylesheet" href="../../public/css/customerStyle.css">
   <title>Customer Home</title>
</head>
<body>
   <%- include("../partials/customerNavBar") %>

   <div class = "drinkNavBar">
      <div id = "titleContainer">
         <h1>Make an Order</h1> 
      </div>

      <div id = "drinkContainer">
         <div class = "allDropDown">
            <button id = "all">All</button>
            <div class="dropdown-content">
               <a href="#">Link 1</a>
               <a href="#">Link 2</a>
               <a href="#">Link 3</a>
            </div>
         </div>

         <div class = "freshBrewDropDown">
            <button id = "freshBrew">Fresh Brew Tea</button>
            <div class="dropdown-content">
                  <% for (let drink of freshBrew_drinks) { 
                     const img_url = img_array[drink.beverage_info_id] ?? img_array[0]; 
                  %>
                  <button class = "drinkButton" 
                        data-drink-id = "<%= drink.beverage_info_id %>" 
                        data-drink-name = "<%= drink.name %>"
                        data-drink-price="<%= drink.price%>" >
                        <img src="<%= img_url %>">
                  </button>
               
                  <p>Name: <%= drink.name %>, Price: <%= drink.price %></p>
               <% } %>
            </div>
         </div>

         <div class = "fruitTeaDropDown">
            <button id = "fruitTea">Fruit Tea</button>
            <div class="dropdown-content">
                  <% for (let drink of fruity_drinks) { 
                        const img_url = img_array[drink.beverage_info_id] ?? img_array[0]; 
                     %>

                     <button class = "drinkButton" 
                           data-drink-id = "<%= drink.beverage_info_id %>" 
                           data-drink-name = "<%= drink.name %>" 
                           data-drink-price="<%= drink.price%>" >
                           <img src="<%= img_url %>">
                     </button>
                  
                     <p>Name: <%= drink.name %>, Price: <%= drink.price %></p>
                  <% } %>
            </div>
         </div>

         <div class = "iceBlendDropDown">
            <button id = "iceBlended">Ice Blended</button>
            <div class="dropdown-content">
                  <% for (let drink of iceBlended_drinks) { 
                        const img_url = img_array[drink.beverage_info_id] ?? img_array[0]; 
                     %>

                     <button class = "drinkButton" 
                        data-drink-id = "<%= drink.beverage_info_id %>" 
                        data-drink-name = "<%= drink.name %>" 
                        data-drink-price="<%= drink.price%>" >
                        <img src="<%= img_url %>">
                     </button>
                  
                     <p>Name: <%= drink.name %>, Price: <%= drink.price %></p>

                  <% } %>
            </div>
         </div>

         <div class = "milkTeaDropDown">
            <button id = "milkTea">Milk Tea</button>
            <div class="dropdown-content">
                  <% for (let drink of milky_drinks) { 
                     const img_url = img_array[drink.beverage_info_id] ?? img_array[0]; 
                     %>

                     <button class = "drinkButton" 
                           data-drink-id = "<%= drink.beverage_info_id %>" 
                           data-drink-name = "<%= drink.name %>" 
                           data-drink-price="<%= drink.price%>" >
                           <img src="<%= img_url %>">
                     </button>
                  
                     <p>Name: <%= drink.name %>, Price: <%= drink.price %></p>
                  <% } %>
            </div>
         </div>

         <div class = "searchDropDown">
            <button id = "search"><img src="/img/search.png"></button>
         </div>

      </div>
   </div>
   <script src = "/js/customerHandler.js"></script> 
</body>

<!--
    - Add Search Bar
    - Add Nav Bar
    - Add Buttons -- maybe reusable ones
-->

