<!DOCTYPE html>
<head>
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/customerStyle.css">
</head>
<body>
<div class = "customerNavBarContainer">
   <div id = "left">
        <div>
            <a href = "../index">
                <img src = "/img/skipBack.png">
                Back</a>
        </div>

        <div>
            <a href = "orderSummary" >
                <img src = "/img/shoppingCart.png">
                Cart</a>
        </div>

       <p><button onclick = "toggleFont()" class = "toggleFont" >toggle font size - Aa</button></p>
    </div>

    <div id = "right">
      <div class = "rightItem">
          <!--    this is the start of google translate code-->
          <div id="google_translate_element"></div>
          <script type="text/javascript">
              function googleTranslateElementInit() {
                  new google.translate.TranslateElement({pageLanguage: 'en', includedLanguages: 'zh-CN,pt,ru,es,fil'}, 'google_translate_element');
              }
          </script>
          <script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
          <!--    this is the end of google translate code-->

      </div>
      <div class = "rightItem">
         <%- include('../partials/weatherNav', { weather: weather }) %>
      </div>

    </div>
</div>




    <div id = "bodyContainer">
        <div id = "container1">
            <a href = "/customer/customerOrder">
                <div id = "orderNowButton"><h2>Order Now</h2></div>
            </a>
            <div id = "apiContainer">
                <div class = "container">

                    <% if (weather) { %>
                    <% 
                    const validIcons = ['mist', 'rain', 'snow', 'clear', 'clouds', 'drizzle'];
                    let main = (weather.main || '').toLowerCase();
                    let icon = validIcons.includes(main) ? main : 'clear';
                    %>
                
                    <div class="weather-widget">        
                        <img
                            src="/img/<%= icon %>.png"
                            alt="<%= weather.description %> icon"
                            class="weather-icon"
                        />
                        <div class="weather-text">
                            <p><%= weather.temp %>°F</p>
                            <p><%= weather.description %></p>
                        </div>
                    </div>
                    <% } else { %>
                        <p>No weather data available.</p>
                    <% } %>
                </div>

                <div class = "container">
               <button id = "translateButton" class = "translateButtonHomeStyling">
                  Change Language
               </button>
                    <!--    this is the start of google translate code-->
                    <div id="google_translate_element"></div>
                    <script type="text/javascript">
                        function googleTranslateElementInit() {
                            new google.translate.TranslateElement({pageLanguage: 'en', includedLanguages: 'zh-CN,pt,ru,es,fil'}, 'google_translate_element');
                        }
                    </script>
                    <script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
                    <!--    this is the end of google translate code-->
                </div>

            </div>
        </div>
    </div>

    <div class = "speechToTextContainer">
        <img id = "assistantImg"src = "">
        <button class = "speechButton" id = "speechBtn"> Speech Command Assistant</button>
    </div>

    <script src = "/js/customerHandler.js"></script>
    <script src = "/js/toggleFont.js"></script>
</body>
