<!DOCTYPE html>
<head>
   <title>Milky Series</title>
</head>
<body>

    <!--    this is the start of google translate code-->
    <div id="google_translate_element"></div>
    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
        }
    </script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <!--    this is the end of google translate code-->

   <h1>Milky Series</h1>
   <a href = "http://localhost:3000/">Home</a>
   <a href = "customerHome">Menu</a>
   <a href = "freshBrew">Fresh Brew Tea</a>
   <a href = "fruity" >Fruit Tea</a>
   <a href = "iceBlended">Ice Blended</a>
   <a href = "milky">Milk Tea</a>
   <a href = "orderSummary" >Cart</a>

   <br>
   
    <% for (let drink of milky_drinks) { 
        const img_url = img_array[drink.beverage_info_id] ?? img_array[0]; 
        %>

        <button class = "drinkButton" 
            data-drink-id = "<%= drink.beverage_info_id %>" 
            data-drink-name = "<%= drink.name %>" 
            data-drink-price="<%= drink.price%>" >
            <img src="<%= img_url %>">
        </button>
    
        <p>Name: <%= drink.name %>, Price: <%= drink.price %></p>
    <% } %>

        <p id = "drinkName">Drink Name</p>
        <p id = "drinkID">Drink ID</p>
    
    <script src = "/js/customerHandler.js"></script>    
</body>

<!--
    Make this page dynamic, ie if someone were add a menu item, create cards and photos for that
    to be displayed.
-->